{% extends 'layouts/base.html.twig' %}

{% block title project.name %}


{% block body %}
	<div class="row mt-3">
		<div class="col-md-6 mx-auto">
			<article class="project bg-teal rounded shadow border border-light border-4">
				<div class="p-3">
					<h1 class="text-break">
						{{ project.name | capitalize }}
					</h1>
					<p class="text-muted">
						<small class="fw-bold">Submitted
							<time dtaetime="{{project.createdAt | date('Y-m-d H:i:s')}}">{{project.createdAt | ago}}</time>
						</small>
					</p>
					<p class="h4 text-light">{{project.type}}</p>
					<div class="pt-3">
						<a class="btn btn-light  btn-md" href="{{path('app_project_edit',{'id':project.id})}}">Edit</a>
						<a class="btn btn-light btn-md" href="#" onclick="event.preventDefault();confirm('Are you sure ?')&& document.getElementById('js-project-delete-form').submit();">Delete</a>
						<form id="js-project-delete-form" action="{{path('app_project_delete',{'id':project.id})}}" method="post" style="display:none;">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="csrf_token" value={{csrf_token('project_deletion' ~ project.id)}}>
						</form>
					</div>
				</div>
			</article>
		</div>
	</div>


{% endblock %}
