{% extends 'layouts/base.html.twig' %}

{% block title 'Version' %}


{% block body %}
	<div class="row mt-3">
		<div class="col-md-6 mx-auto">
			<article class="version  bg-teal rounded shadow border border-light border-4">
				<div class="p-3">
					<h1 class="text-break">
						{{ version.versionNumber | capitalize }}
						version
						{% if version.language.name is defined %}
							<br>
							<a class="text-light text-decoration-none h3" href="{{path('app_translation_edit',{'id':version.translation.id})}}">{{ version.language.name }}</a>
						{% endif %}
					</h1>
					<div class="pt-3">
						<a class="btn btn-light  btn-md" href="{{path('app_version_edit',{'id':version.id})}}">Edit</a>
						{% if version.translation.id is defined %}
							<a class="btn btn-light  btn-md" href="{{path('app_translation_show',{'id':version.translation.id})}}">Use</a>
						{% else %}
							<a class="btn btn-light  btn-md" href="{{path('app_translation_create',{'id':version.id})}} ">Use</a>
						{% endif %}
						<a class="btn btn-light btn-md" href="#" onclick="event.preventDefault();confirm('Are you sure ?')&& document.getElementById('js-version-delete-form').submit();">Delete</a>
						<form id="js-version-delete-form" action="{{path('app_version_delete',{'id':version.id})}}" method="post" style="display:none;">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="csrf_token" value={{csrf_token('version_deletion' ~ version.id)}}>
						</form>
					</div>
				</div>
			</article>
		</div>
	</div>
{% endblock %}
